.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    font-weight: bold;
}

.error-container h1 {
    font-size: 50px;
}

.error-container p {
    font-size: 30px;
}