.container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 380px;
  max-width: 100%;
}

.index-header {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form > button {
  background-color: #8e44ad;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  width: 100%;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-blick;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
}

.index-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-body #myBtn {
  background-color: #8e44ad;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}
