.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  margin: 0;
}

.container .index-header {
  max-width: 720px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .index-header > p {
  font-weight: bold;
  font-size: 42px;
}

.container .index-header .form > button {
  background-color: black;
  border: 2px solid gray;
  border-radius: 16px;
  color: #fff;
  display: block;
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.container .index-header .form .form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.container .index-header .form .form-control input {
  display: flex;
  border: 2px solid #f0f0f0;
  border-radius: 14px;
  padding: 10px;
  margin-bottom: 10px;
}

.index-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .index-body #myBtn {
  background-color: black;
  border: 2px solid gray;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}
