@import "signin.css";
@import "modal.css";
@import "navbar.css";
@import "main.css";
@import "error.css";
@import "developer.css";
@import "signin_not.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
  transform-style: preserve-3d;
}

