@import "signin.css";
@import "modal.css";
@import "navbar.css";
@import "main.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #485461;
  background-image: linear-gradient(135deg, #485461, #28313b 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}

