<!DOCTYPE html>
{% load static %}
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- w3 school library -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- jQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
    <script>
      {% comment %} var project_uv_img = "{% static 'images/uv_grid_opengl.jpg' %}" {% endcomment %}
      var base_color = "{% static 'image/8k_earth_daymap.jpg' %}"
    </script>

    {% block extrahead %}
      <script crossorigin defer type="module" src="{% static 'js/Earth.js' %}"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}
    
    <title>Issueflix - World wide trend news site</title>

</head>

<script>
    {#ajax의 post 방식에선 csrf를 아래와 같이 선언해주면 된다.#}
    $.ajaxSetup({
        headers: {"X-CSRFToken": '{{csrf_token}}'}
    });

    function show_news(countryname) {
        $('#news-list').empty()

        // {# 버튼을 누를 때 호출 되는 함수에서 value값이 맨 위만 받아왔다. 아이디값이 같아서인지는 모르겠지만 그래서 각 버튼에 있는 함수에 파라미터로 밸류를 지정해줌#}
        let country_name = countryname

        $.ajax({
            type: "POST",
            url: "country/",
            data: {'country_name': country_name},
            success: function (response) {
                let rows = response
                for (let i = 0; i < rows.length; i++) {
                    let all_News = rows[i]

                    let temp_html = `<div id="b1" class="containerTab">
                                            <span class="closebtn">&times;</span>
                                            <iframe width="350" height="150" src="${all_News['Link']}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            <p style="color: #fff; margin-left: 20px; width: 350px; font-size: 16px; font-weight: bold;">${all_News['Title']}</p>
                                            <p style="color: #fff; margin-left: 20px; width: 350px; font-size: 12px;margin-bottom:10px;">Views - ${all_News['Views']}</p>
                                        </div>`

                    $('#news-list').append(temp_html)
                }
            }
        });
    }
</script>

<body>
  <div class="container">
      <div class="navbar">
          <div class="menu">
              <a href="/"><h3 class="logo" onclick="">Issue<span>FLIX</span></h3></a>
              <div class="sub-menu">
                  <div class="bar"></div>
              </div>
          </div>
      </div>
      {% block content %}

      {% endblock %}
      <div id="news-list">

      </div>

      <div class="links">
          <ul>
            <li>
              <a href="/" style="--i: 0.05s;">Home</a>
            </li>
            <li>
              <a href="/error" style="--i: 0.1s;">Art</a>
            </li>
            <li>
              <a href="/error" style="--i: 0.15s;">Predictions</a>
            </li>
            <li>
              <a href="/error" style="--i: 0.2s;">Feedback</a>
            </li>
            <li>
              <a href="/developer" style="--i: 0.25s;">Developer</a>
            </li>
            {% if not user.is_authenticated %}
              <li>
                <a href="/sign-in" style="--i: 0.3s;">Login</a>
              </li>
            {% else %}
              <li>
                <a href="/logout" style="--i: 0.3s;">{{ user.username }} logout</a>
              </li>
            {% endif %}
          </ul>
          
        </div>
      </div>
  </div>

  <!-- Javascript -->
  <script src="{% static 'js/modal.js' %}"></script>
  <script src="{% static 'js/validation.js' %}"></script>
  <script src="{% static 'js/navbar.js' %}"></script>
</body>

</html>