<!DOCTYPE html>
{% load static %}
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
    <title>Welcome to IssueFLIX!</title>
    <!-- jQuery Validation Check -->
    <script defer src="{% static 'js/validation.js' %}"></script>
    
</head>

<body>
    <div class="container">
        <div class="index-header">
            <img src="{% static 'image/issueFLIX.PNG' %}" alt="" style="width: 300px; height: 300px;">
            <form action="/sign-in/" method="post" id="form" class="form">
                {% csrf_token %}
                <div class="form-control">
                    <label>Your ID</label>
                    <input type="text" placeholder="id" id="username" name="username">
                    <small>Error Message</small>
                
                    <label>Your Password</label>
                    <input type="password" placeholder="password" id="password" name="password">
                    <small>Error Message</small>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        <!-- Signup Form -->
        <div class="index-body">
            <p>oh, Don't you have account?</p>
            <button id="myBtn">Sign Up</button>
            <div id="myModal" class="modal">

                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                    <h2>Sign Up</h2>
                    </div>
                    <div class="modal-body">
                        <form id="registerForm" class="w3-container" action="/sign-up/" method="post">
                            {% csrf_token %}
                            <div>
                                <label>ID to use</label>
                                <input class="w3-input" type="text" placeholder="username" name="username" id="username">
                            </div>
                            <div>
                                <label>Password to use</label>
                                <input class="w3-input" type="password" placeholder="password" name="password" id="password">
                            </div>
                            <div>
                                <label>Check your password</label>
                                <input class="w3-input" type="password" placeholder="password_check" name="password_check" id="password_check">    
                            </div>
                            <div>
                                <label>Nickname to use</label>
                                <input class="w3-input" type="text" placeholder="nickname" name="nickname" id="nickname">
                            </div>
                            <button onclick={ validateForm } type="submit" class="w3-button w3-black">Submit</button>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <h3>Modal Footer</h3>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
        
    
    <!-- Modal Javascript -->
    <script src="{% static 'js/modal.js' %}"></script>
</body>
</html>